<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
    "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
    "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">

    <!-- Detecta espaços em branco no fim da linha -->
    <!-- Verifica espaços em branco ao final das linhas -->
    <module name="RegexpSingleline">
        <property name="format" value="\s+$"/>
        <property name="message" value="Linha contém espaços em branco no final."/>
    </module>

    <!-- Limite máximo de caracteres por linha -->
    <module name="LineLength">
        <property name="max" value="120"/>
        <property name="ignorePattern" value="^package.*|^import.*"/>
    </module>

    <!-- Garante que o arquivo termine com linha em branco -->
    <module name="NewlineAtEndOfFile"/>

    <module name="TreeWalker">

        <!-- Indentação com 4 espaços -->
        <module name="Indentation">
            <property name="basicOffset" value="4"/>
            <property name="braceAdjustment" value="0"/>
            <property name="caseIndent" value="4"/>
            <property name="lineWrappingIndentation" value="4"/>
        </module>

    </module>

</module>
